{{> head }}

{{> navbar }}


<div class="row">

    <div class="col-8">
        <h1>Gatitos</h1>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo, tempora quidem. Labore et magnam nobis aliquam aspernatur laborum blanditiis consequatur ipsum, dolorem harum libero consequuntur quam reprehenderit beatae cum vel.
        </p>
    </div>

    <div class="col-4">
        <img src="/assets/img/gatsss.jpg" class="img-thumbnail">
    </div>



</div>

{{> footer }}